.TodoForm {
  position: relative;

  input[type='text'] {
    width: 100%;
    height: 100%;
    padding: 1rem 0.8rem;
    border: none;
    background-color: var(--secondary-color-dark);
    box-shadow: inset 0 0 8px 0 var(--secondary-color-darker);
    outline: none;
    color: var(--text-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  input[type='text']::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--secondary-color-lighter);
    opacity: 1; /* Firefox */
  }

  button {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    color: var(--secondary-color-lighter);
    background-color: inherit;
    font-size: 1.2rem;
    outline: none;
  }
}
