:root {
  --main-color: #de3f53;
  --secondary-color-lighter: #8284a3;
  --secondary-color-light: #6e6e96;
  --secondary-color: #2f3755;
  --secondary-color-dark: #171d37;
  --text-color: #b1b2c9;
  --border-radius: 4px;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
